@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@import "tailwindcss";

* {
    font-family: "Gothic A1", sans-serif;
}

@font-face {
    font-family: "Digitag";
    src: url("./game/assets/digitag.regular.woff2") format("woff2");
}

#title {
    font-family: "Digitag", "Gothic A1", sans-serif;
}
