@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@import "tailwindcss";

@layer base {
    * {
        font-family: "Gothic A1", Arial, sans-serif;
    }
}

@font-face {
    font-family: "Digitag";
    src: url("./assets/digitag.regular.woff2") format("woff2");
}

@theme {
    --font-digitag: "Digitag", "Gothic A1", Arial, sans-serif;
}
