@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
    * {
        font-family: "Libre Franklin", Arial, sans-serif;
    }
    body {
        background: url("./assets/BulletinBoard.jpg") repeat;
        background-size: 100dvw 100dvh;
    }
}

@layer utilities {
    @keyframes flash-attention {
        0%,
        100% {
            filter: brightness(1);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        50% {
            filter: brightness(1.3);
            box-shadow: 0 0 25px 8px oklch(64.6% 0.222 41.116);
        }
    }
}

@utility letter {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;

    position: relative;
    width: 80%;
    &::before,
    &::after {
        content: "";
        height: 98%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    &:before {
        background: #f1f1f1;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        left: -5px;
        top: 4px;
        transform: rotate(-2deg);
    }

    &::after {
        background: #e6e6e6;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        right: -3px;
        top: 1px;
        transform: rotate(1.4deg);
    }
}

@utility blue {
    --paper-color: #d5e0f9;
    --paper-dark: #c2d0ea;
    --shadow-size: 3px;
    --transparent: rgba(213, 224, 249, 0);
}

@utility paper {
    position: relative;
    background:
        linear-gradient(to bottom right, var(--paper-dark), 20%, var(--transparent)),
        var(--paper-color);
    min-width: 250px;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-size: 2rem;
    box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
    margin: auto;
    margin-top: 50px;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background:
            linear-gradient(var(--transparent), 50%, var(--paper-dark), 51%, var(--transparent)),
            linear-gradient(
                to right,
                var(--transparent),
                50%,
                var(--paper-dark),
                51%,
                var(--transparent)
            );
    }
}

@utility top-tape {
    position: absolute;
    height: 4vmin;
    top: -5px;
    width: 110%;
    background-color: var(--tape-gray);
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
}

@utility tape-section {
    position: absolute;
    width: 100%;
    &::first-of-type {
        top: 0;
    }
    &::last-of-type {
        bottom: 0;
    }
    &::before,
    &::after {
        content: "";
        width: 10vmin;
        height: 4vmin;
        position: absolute;
        background-color: var(--tape-gray);
        opacity: 0.5;
        border-right: 1px dotted var(--tape-edge-gray);
        border-left: 1px dotted var(--tape-edge-gray);
    }
    &::last-of-type::after {
        transform: rotate(-45deg);
        right: -4vmin;
        top: -3vmin;
    }
    &::first-of-type::before {
        transform: rotate(-45deg);
        left: -4vmin;
    }
    &::first-of-type::after {
        transform: rotate(45deg);
        right: -4vmin;
        top: 0;
    }
    &::last-of-type::before {
        transform: rotate(45deg);
        left: -4vmin;
        bottom: 0;
    }
}
@utility pink {
    --paper-color: var(--pink);
    --paper-dark: var(--pink-dark);
    --shadow-size: 1px;
    --transparent: rgba(236, 178, 186, 0);
}

@font-face {
    font-family: "Digitag";
    src: url("./assets/digitag.regular.woff2") format("woff2");
}

@theme {
    --font-digitag: "Digitag", Arial, sans-serif;
    --font-sedgwick: "Sedgwick Ave", Arial, sans-serif;
    --font-times: "Times New Roman", serif;
}
